stamp-npm
stamp-bower
version.txt
bower_components
ndproj
doc
*.map
.taperc
*.tar.gz
*.zip
*~
.*.sw?
doc-tmp


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
coverage
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
